html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif; }

.nav {
  background-color: #2c2c2c;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__logo {
    align-self: flex-start; }
  .nav__hamburger {
    font-size: 2.5rem;
    color: #fff; }

.section {
  padding: 3rem; }

.header {
  background-image: url(../images/banner/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .header__left {
    color: #fff;
    text-align: left;
    margin: 2rem 0; }
  .header__heading {
    font-size: 2.5rem;
    font-weight: 300;
    padding: 2rem 0; }
  .header__desc {
    font-size: 1.1rem; }
  .header__cta {
    margin: 3rem 0; }
  .header__right {
    display: flex;
    justify-content: center; }

.s-features__features {
  text-align: center;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center; }

.features__img {
  padding: 2rem;
  border-radius: 8px;
  margin: 1rem; }
  .features__img--blue {
    background-color: #329bfa;
    background-image: linear-gradient(90deg, #329bfa 35%, #90c9ff 100%); }
  .features__img--orange {
    background-color: #fcad5c;
    background-image: linear-gradient(90deg, #fcad5c 35%, #fc9262 100%); }
  .features__img--green {
    background-color: #36ef8c;
    background-image: linear-gradient(90deg, #36ef8c 35%, #8afec0 100%); }

.features__desc {
  font-size: 2.1rem;
  margin: 2rem 0;
  padding: 0 6rem;
  line-height: 3rem;
  font-weight: 300; }

.download__btn {
  margin: 2rem 0; }

.download__img {
  margin: 2rem 0; }

.s-reviews {
  background-image: linear-gradient(90deg, rgba(50, 155, 250, 0.9) 35%, rgba(50, 155, 250, 0.9) 100%), url(../images/banner/testmonial.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding: 5rem; }
  .s-reviews__stars {
    color: #f4cf67; }
  .s-reviews__author {
    text-transform: uppercase;
    font-size: 1.5rem; }

.btn, .btn:link, .btn:visited {
  width: 150px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1rem;
  background-color: transparent;
  color: #fff;
  border-radius: 3px;
  transition: all 150ms ease-in-out; }

.btn--cta, .btn--cta:link, .btn--cta:visited {
  border: 1px solid #36ebed;
  box-shadow: 0 0 40px 40px #36ebed inset, 0 0 0 0 #36ebed; }

.btn--cta:hover {
  box-shadow: 0 0 10px 0 #36ebed inset, 0 0 10px 4px #36ebed; }

.btn--download, .btn--download:link, .btn--download:visited {
  border: 1px solid #329bfa;
  box-shadow: 0 0 40px 40px #329bfa inset, 0 0 0 0 #329bfa; }

.btn--download:hover {
  color: #329bfa;
  box-shadow: 0 0 10px 0 #329bfa inset, 0 0 10px 4px #329bfa; }

.heading-2 {
  font-size: 2rem;
  font-weight: 300;
  margin: 2rem 0; }

.paragraph {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 2rem 0; }
