@keyframes pulse {
  0% {
    transform: scale(0.95); }
  70% {
    transform: scale(1); }
  100% {
    transform: scale(0.95); } }

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif; }

.nav {
  background-color: #2c2c2c;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (min-width: 37.5rem) {
    .nav {
      height: 80px;
      padding: 1rem 7rem; } }
  @media only screen and (min-width: 75rem) {
    .nav {
      background-color: transparent;
      padding: 2rem 7rem; } }
  .nav__logo {
    align-self: flex-start; }
    @media only screen and (min-width: 37.5rem) {
      .nav__logo {
        align-self: center; } }
  .nav__hamburger {
    font-size: 2.5rem;
    color: #fff;
    justify-self: flex-end; }
    @media only screen and (min-width: 75rem) {
      .nav__hamburger {
        display: none; } }
  .nav__menu {
    display: none; }
    @media only screen and (min-width: 75rem) {
      .nav__menu {
        width: 90%;
        display: flex;
        justify-content: flex-end;
        align-items: center; } }
  .nav__items {
    display: flex;
    justify-content: space-around;
    width: 40%; }
    @media only screen and (max-width: 75rem) {
      .nav__items {
        display: none; } }
  .nav__item {
    position: relative;
    margin: 0 0.2rem; }
  .nav__link, .nav__link:link, .nav__link:visited {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff; }
  .nav__link:hover {
    color: #36ebed;
    transition: 1s; }
  .nav__arrow-down {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 0.5rem; }
  .nav__btn {
    margin-left: 25rem; }
    @media only screen and (max-width: 75rem) {
      .nav__btn {
        display: none; } }
  .nav__dropdown {
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem 2rem;
    width: 120px;
    position: absolute;
    top: 30px;
    left: 20px;
    display: none; }
  .nav__dropdown-item {
    padding: 0.5rem; }
  .nav__dropdown-link, .nav__dropdown-link:link, .nav__dropdown-link:visited {
    text-decoration: none;
    font-size: 1.2rem;
    color: #329bfa; }
  .nav__dropdown-link:hover {
    color: #36ebed;
    transition: 1s; }
  .nav__input {
    display: none; }

.nav__input:checked + .nav__dropdown {
  display: block; }

/*.nav__ham-input:checked .nav__menu {
  display: block;
}*/
.section {
  padding: 3rem; }
  @media only screen and (min-width: 56.25rem) {
    .section {
      padding: 8rem; } }

.header {
  background-image: url(../images/banner/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .header__header {
    padding: 3rem; }
    @media only screen and (min-width: 56.25rem) {
      .header__header {
        display: flex;
        align-items: center;
        justify-content: space-between; } }
  .header__left {
    color: #fff;
    text-align: left;
    margin: 2rem 0; }
    @media only screen and (min-width: 75rem) {
      .header__left {
        margin: 1rem 6rem; } }
  .header__heading {
    font-size: 2.5rem;
    font-weight: 300;
    padding: 2rem 0; }
    @media only screen and (min-width: 37.5rem) {
      .header__heading {
        font-size: 3.2rem; } }
    @media only screen and (min-width: 75rem) {
      .header__heading {
        font-size: 4rem; } }
  .header__desc {
    font-size: 1.1rem; }
    @media only screen and (min-width: 37.5rem) {
      .header__desc {
        font-size: 1.7rem; } }
    @media only screen and (min-width: 75rem) {
      .header__desc {
        font-size: 2rem; } }
  .header__cta {
    margin: 3rem 0; }
  .header__right {
    display: flex;
    justify-content: center; }
  .header__image {
    transform: scale(1);
    animation: pulse 2s infinite; }

@media only screen and (min-width: 75rem) {
  .s-features {
    padding: 12rem 8rem; } }

.s-features__features {
  text-align: center;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (min-width: 37.5rem) {
    .s-features__features {
      padding: 0 15rem; } }
  @media only screen and (min-width: 75rem) {
    .s-features__features {
      padding: 0; } }

@media only screen and (min-width: 56.25rem) {
  .s-features__wrapper {
    display: flex;
    flex-direction: row;
    margin: 3rem 0; } }

@media only screen and (min-width: 75rem) {
  .s-features__wrapper {
    justify-content: space-evenly;
    width: 100%;
    margin: 6rem 0; } }

@media only screen and (min-width: 56.25rem) {
  .s-features__feature {
    width: 200px;
    margin: 2rem 3rem; } }

.s-features__download {
  display: flex;
  flex-direction: column; }

.features__img {
  padding: 2rem;
  border-radius: 8px;
  margin: 1rem; }
  .features__img--blue {
    background-color: #329bfa;
    background-image: linear-gradient(90deg, #329bfa 35%, #90c9ff 100%); }
  .features__img--orange {
    background-color: #fcad5c;
    background-image: linear-gradient(90deg, #fcad5c 35%, #fc9262 100%); }
  .features__img--green {
    background-color: #36ef8c;
    background-image: linear-gradient(90deg, #36ef8c 35%, #8afec0 100%); }

.features__desc {
  font-size: 2.1rem;
  margin: 2rem 0;
  padding: 0 6rem;
  line-height: 3rem;
  font-weight: 300; }
  @media only screen and (min-width: 37.5rem) {
    .features__desc {
      padding: 0; } }

.download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 56.25rem) {
    .download {
      flex-direction: row; } }
  @media only screen and (min-width: 56.25rem) {
    .download__left {
      max-width: 50%; } }
  @media only screen and (min-width: 56.25rem) {
    .download__right {
      width: 50%; } }
  .download__btn {
    margin: 2rem 0; }
  .download__img {
    margin: 2rem 0; }

.s-reviews {
  background-image: linear-gradient(90deg, rgba(50, 155, 250, 0.9) 35%, rgba(50, 155, 250, 0.9) 100%), url(../images/banner/testmonial.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 75rem) {
    .s-reviews {
      height: 50vh; } }
  .s-reviews__review {
    display: flex;
    justify-content: center;
    align-items: center; }
  .s-reviews__stars {
    color: #f4cf67;
    font-size: 1.5rem; }
  .s-reviews__author {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-left: 0.5rem; }

.s-pricing {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 56.25rem) {
    .s-pricing__card-wrapper {
      display: flex;
      flex-direction: row; } }
  .s-pricing__card {
    margin: 4rem 0;
    box-shadow: 9px 14px 14px -1px rgba(0, 0, 0, 0.13);
    z-index: 99; }
    @media only screen and (min-width: 56.25rem) {
      .s-pricing__card {
        margin: 4rem 1.5rem; } }
    @media only screen and (min-width: 75rem) {
      .s-pricing__card {
        margin: 6rem 4rem; } }
    @media only screen and (min-width: 56.25rem) {
      .s-pricing__card:hover {
        transform: scale(1.1);
        opacity: 1;
        z-index: 9;
        transition: 1s; } }

.s-download {
  background-color: #329bfa;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 56.25rem) {
    .s-download {
      text-align: left; } }
  @media only screen and (min-width: 75rem) {
    .s-download {
      flex-direction: row;
      justify-content: space-between; } }
  .s-download__apps {
    display: flex;
    width: 50%; }
  .s-download__app {
    margin: 0 0.3rem; }

.footer {
  background-color: #2c2c2c;
  color: #fff; }
  .footer__footer {
    padding: 3rem 2rem; }
    @media only screen and (min-width: 75rem) {
      .footer__footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; } }
  .footer__social-media {
    padding: 2rem 0;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start; }
  .footer__social-link {
    padding: 1rem; }
  .footer__social-bg {
    background-color: #565656;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer__social-bg:not(:first-child) {
      margin-left: 1rem; }
  .footer__icon {
    color: #c7c7c7;
    font-size: 2.5rem; }
    .footer__icon:hover {
      color: #fff; }
  @media only screen and (min-width: 37.5rem) {
    .footer__logo-wrapper {
      margin: 0 4rem; } }
  @media only screen and (min-width: 75rem) {
    .footer__logo-wrapper {
      width: 40%; } }
  @media only screen and (min-width: 37.5rem) {
    .footer__list-wrapper {
      display: flex;
      justify-content: space-evenly; } }
  @media only screen and (min-width: 75rem) {
    .footer__list-wrapper {
      width: 60%; } }
  .footer__heading {
    font-size: 2.5rem; }
  .footer__list {
    padding: 1rem 0; }
  .footer__item {
    padding: 0.5rem 0; }
    .footer__item:last-child {
      margin-bottom: 2rem; }
  .footer__link, .footer__link:link, .footer__link:visited {
    color: #fff;
    opacity: 0.6;
    font-size: 1.5rem;
    text-decoration: none; }
  .footer__link:hover {
    opacity: 1; }
  .footer__copyright {
    background-color: #000;
    text-align: center;
    opacity: 0.6;
    padding: 2rem 3rem; }
    @media only screen and (min-width: 56.25rem) {
      .footer__copyright {
        font-size: 1.2rem; } }
    @media only screen and (min-width: 75rem) {
      .footer__copyright {
        font-size: 1.5rem; } }
  .footer__author, .footer__author:link, .footer__author:visited {
    color: #329bfa;
    font-weight: 700;
    text-decoration: none; }
  .footer__author:hover {
    text-decoration: underline; }

.btn, .btn:link, .btn:visited {
  width: 150px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1rem;
  background-color: transparent;
  border-radius: 3px;
  transition: all 150ms ease-in-out; }

.btn--nav, .btn--nav:link, .btn--nav:visited {
  width: 100px;
  color: #fff;
  border: 1px solid #42b3fa;
  box-shadow: 0 0 40px 40px #42b3fa inset, 0 0 0 0 #42b3fa; }

.btn--nav:hover {
  box-shadow: 0 0 10px 0 #42b3fa inset, 0 0 10px 4px #42b3fa; }

.btn--cta, .btn--cta:link, .btn--cta:visited {
  color: #fff;
  border: 1px solid #36ebed;
  box-shadow: 0 0 40px 40px #36ebed inset, 0 0 0 0 #36ebed; }

.btn--cta:hover {
  box-shadow: 0 0 10px 0 #36ebed inset, 0 0 10px 4px #36ebed; }

@media only screen and (min-width: 56.25rem) {
  .btn--cta {
    width: 200px;
    height: 50px;
    font-size: 1.8rem; } }

.btn--download, .btn--download:link, .btn--download:visited {
  color: #fff;
  border: 1px solid #329bfa;
  box-shadow: 0 0 40px 40px #329bfa inset, 0 0 0 0 #329bfa; }

.btn--download:hover {
  color: #329bfa;
  box-shadow: 0 0 10px 0 #329bfa inset, 0 0 10px 4px #329bfa; }

@media only screen and (min-width: 56.25rem) {
  .btn--download {
    width: 200px;
    height: 50px;
    font-size: 1.8rem; } }

.btn--get-now, .btn--get-now:link, .btn--get-now:visited {
  color: #329bfa;
  border: 1px solid #329bfa;
  box-shadow: 0 0 40px 40px #fff inset, 0 0 0 0 #329bfa; }

.btn--get-now:hover {
  box-shadow: 0 0 10px 0 #329bfa inset, 0 0 10px 4px #329bfa; }

.heading-2 {
  font-size: 2rem;
  font-weight: 300;
  margin: 2rem 0; }
  @media only screen and (min-width: 37.5rem) {
    .heading-2 {
      font-size: 2.5rem; } }
  @media only screen and (min-width: 75rem) {
    .heading-2 {
      font-size: 4rem; } }
  @media only screen and (min-width: 56.25rem) {
    .heading-2--big {
      font-size: 4.5rem;
      padding: 0 6rem; } }

.paragraph {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 2rem 0;
  opacity: 0.8; }
  @media only screen and (min-width: 37.5rem) {
    .paragraph {
      font-size: 2rem; } }

.card {
  width: 280px;
  max-width: 400px; }
  @media only screen and (min-width: 75rem) {
    .card {
      width: 320px;
      display: flex;
      flex-direction: column; } }
  .card__heading {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-size: 1.5rem;
    margin-bottom: 2rem; }
    .card__heading--blue {
      background-color: #e9f4fe; }
    .card__heading--orange {
      background-color: #fef4f0; }
    .card__heading--green {
      background-color: #e8fbf1; }
  .card__price--blue {
    color: #329bfa; }
  .card__price--orange {
    color: #fcad5c; }
  .card__price--green {
    color: #36ef8c; }
  .card__item {
    padding: 1.5rem;
    font-weight: 300;
    font-size: 1.5rem; }
  .card__btn {
    margin: 2.5rem 0;
    align-self: center;
    justify-self: flex-end; }
