.btn {
  &,
  &:link,
  &:visited {
    width: 150px;
    height: 40px;

    font-family: $font-primary;
    letter-spacing: 0.1rem;

    background-color: transparent;
    color: $color-white;
    border-radius: 3px;

    transition: all 150ms ease-in-out;
  }

  &--cta {
    &,
    &:link,
    &:visited {
      border: 1px solid $color-cta;
      box-shadow: 0 0 40px 40px $color-cta inset, 0 0 0 0 $color-cta;
    }

    &:hover {
      box-shadow: 0 0 10px 0 $color-cta inset, 0 0 10px 4px $color-cta;
    }
  }

  &--download {
    &,
    &:link,
    &:visited {
      border: 1px solid $color-primary;
      box-shadow: 0 0 40px 40px $color-primary inset, 0 0 0 0 $color-primary;
    }

    &:hover {
      color: $color-primary;
      box-shadow: 0 0 10px 0 $color-primary inset, 0 0 10px 4px $color-primary;
    }
  }
}

.heading-2 {
  font-size: 2rem;
  font-weight: 300;
  margin: 2rem 0;
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 2rem 0;
}
