.btn {
  &,
  &:link,
  &:visited {
    width: 150px;
    height: 40px;

    font-family: $font-primary;
    letter-spacing: 0.1rem;

    background-color: transparent;
    border-radius: 3px;

    transition: all 150ms ease-in-out;
  }

  &--cta {
    &,
    &:link,
    &:visited {
      color: $color-white;
      border: 1px solid $color-cta;
      box-shadow: 0 0 40px 40px $color-cta inset, 0 0 0 0 $color-cta;
    }

    &:hover {
      box-shadow: 0 0 10px 0 $color-cta inset, 0 0 10px 4px $color-cta;
    }
  }

  &--download {
    &,
    &:link,
    &:visited {
      color: $color-white;
      border: 1px solid $color-primary;
      box-shadow: 0 0 40px 40px $color-primary inset, 0 0 0 0 $color-primary;
    }

    &:hover {
      color: $color-primary;
      box-shadow: 0 0 10px 0 $color-primary inset, 0 0 10px 4px $color-primary;
    }
  }

  &--get-now {
    &,
    &:link,
    &:visited {
      color: $color-primary;
      border: 1px solid $color-primary;
      box-shadow: 0 0 40px 40px $color-white inset, 0 0 0 0 $color-primary;
    }

    &:hover {
      box-shadow: 0 0 10px 0 $color-primary inset, 0 0 10px 4px $color-primary;
    }
  }
}

.heading-2 {
  font-size: 2rem;
  font-weight: 300;
  margin: 2rem 0;
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 2rem 0;
}

.card {
  width: 300px;
  max-width: 400px;
  &__heading {
    display: flex;
    justify-content: space-between;

    padding: 2rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;

    &--blue {
      background-color: $color-card-1;
    }

    &--orange {
      background-color: $color-card-2;
    }

    &--green {
      background-color: $color-card-3;
    }
  }

  &__price {
    &--blue {
      color: $color-primary;
    }

    &--orange {
      color: $gradient-2-fallback;
    }

    &--green {
      color: $gradient-3-fallback;
    }
  }

  &__item {
    padding: 1.5rem;
    font-weight: 300;
    font-size: 1.5rem;
  }

  &__btn {
    margin: 2.5rem 0;
  }
}
