.section {
  padding: 3rem;

  @media only screen and (min-width: $bp-tablet) {
    padding: 8rem;
  }
}

.header {
  background-image: url(../images/banner/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__header {
    padding: 3rem;
    @media only screen and (min-width: $bp-tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__left {
    color: $color-white;
    text-align: left;
    margin: 2rem 0;

    @media only screen and (min-width: $bp-desktop) {
      margin: 1rem 6rem;
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 300;

    padding: 2rem 0;

    @media only screen and (min-width: $bp-mobile) {
      font-size: 3.2rem;
    }

    @media only screen and (min-width: $bp-desktop) {
      font-size: 4rem;
    }
  }

  &__desc {
    font-size: 1.1rem;

    @media only screen and (min-width: $bp-mobile) {
      font-size: 1.7rem;
    }

    @media only screen and (min-width: $bp-desktop) {
      font-size: 2rem;
    }
  }

  &__cta {
    margin: 3rem 0;
  }

  &__right {
    display: flex;
    justify-content: center;
  }

  &__image {
    transform: scale(1);
    animation: pulse 2s infinite;
  }
}

.s-features {
  @media only screen and (min-width: $bp-desktop) {
    padding: 12rem 8rem;
  }
  &__features {
    text-align: center;
    font-weight: 300;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: $bp-mobile) {
      padding: 0 15rem;
    }

    @media only screen and (min-width: $bp-desktop) {
      padding: 0;
    }
  }

  &__wrapper {
    @media only screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
      margin: 3rem 0;
    }

    @media only screen and (min-width: $bp-desktop) {
      justify-content: space-evenly;
      width: 100%;
      margin: 6rem 0;
    }
  }

  &__feature {
    @media only screen and (min-width: $bp-tablet) {
      width: 200px;
      margin: 2rem 3rem;
    }
  }

  &__download {
    display: flex;
    flex-direction: column;
  }
}

.features {
  &__img {
    padding: 2rem;
    border-radius: 8px;
    margin: 1rem;
    &--blue {
      background-color: $color-primary;
      background-image: $gradient-blue;
    }

    &--orange {
      background-color: $gradient-2-fallback;
      background-image: $gradient-orange;
    }

    &--green {
      background-color: $gradient-3-fallback;
      background-image: $gradient-green;
    }
  }

  &__desc {
    font-size: 2.1rem;
    margin: 2rem 0;
    padding: 0 6rem;
    line-height: 3rem;
    font-weight: 300;

    @media only screen and (min-width: $bp-mobile) {
      padding: 0;
    }
  }
}

.download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: $bp-tablet) {
    flex-direction: row;
  }

  &__left {
    @media only screen and (min-width: $bp-tablet) {
      max-width: 50%;
    }
  }

  &__right {
    @media only screen and (min-width: $bp-tablet) {
      width: 50%;
    }
  }

  &__btn {
    margin: 2rem 0;
  }

  &__img {
    margin: 2rem 0;
  }
}

.s-reviews {
  background-image: linear-gradient(
      90deg,
      rgba(50, 155, 250, 0.9) 35%,
      rgba(50, 155, 250, 0.9) 100%
    ),
    url(../images/banner/testmonial.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: $color-white;
  padding: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: $bp-desktop) {
    height: 50vh;
  }

  &__review {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__stars {
    color: $color-star;
    font-size: 1.5rem;
  }

  &__author {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
}

.s-pricing {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__card-wrapper {
    @media only screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
    }
  }

  &__card {
    margin: 4rem 0;
    box-shadow: 9px 14px 14px -1px rgba(0, 0, 0, 0.13);
    z-index: 99;

    @media only screen and (min-width: $bp-tablet) {
      margin: 4rem 1.5rem;
    }

    @media only screen and (min-width: $bp-desktop) {
      margin: 6rem 4rem;
    }

    &:hover {
      @media only screen and (min-width: $bp-tablet) {
        transform: scale(1.1);
        opacity: 1;
        z-index: 9;
        transition: 1s;
      }
    }
  }
}

.s-download {
  background-color: $color-primary;
  color: $color-white;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: $bp-tablet) {
    text-align: left;
  }

  @media only screen and (min-width: $bp-desktop) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__apps {
    display: flex;
    width: 50%;
  }

  &__app {
    margin: 0 0.3rem;
  }
}

.footer {
  background-color: $color-secondary;
  color: $color-white;

  &__footer {
    padding: 3rem 2rem;

    @media only screen and (min-width: $bp-desktop) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  &__social-media {
    padding: 2rem 0;
    margin-bottom: 2rem;

    display: flex;
    justify-content: flex-start;
  }

  &__social-link {
    padding: 1rem;
  }

  &__social-bg {
    background-color: $color-dark-grey;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }

  &__icon {
    color: $color-social-media;
    font-size: 2.5rem;

    &:hover {
      color: $color-white;
    }
  }

  &__logo-wrapper {
    @media only screen and (min-width: $bp-mobile) {
      margin: 0 4rem;
    }

    @media only screen and (min-width: $bp-desktop) {
      width: 40%;
    }
  }

  &__list-wrapper {
    @media only screen and (min-width: $bp-mobile) {
      display: flex;
      justify-content: space-evenly;
    }

    @media only screen and (min-width: $bp-desktop) {
      width: 60%;
    }
  }

  &__heading {
    font-size: 2.5rem;
  }

  &__list {
    padding: 1rem 0;
  }

  &__item {
    padding: 0.5rem 0;

    &:last-child {
      margin-bottom: 2rem;
    }
  }

  &__link {
    &,
    &:link,
    &:visited {
      color: $color-white;
      opacity: 0.6;
      font-size: 1.5rem;
      text-decoration: none;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__copyright {
    background-color: $color-black;
    text-align: center;
    opacity: 0.6;

    padding: 2rem 3rem;

    @media only screen and (min-width: $bp-tablet) {
      font-size: 1.2rem;
    }

    @media only screen and (min-width: $bp-desktop) {
      font-size: 1.5rem;
    }
  }

  &__author {
    &,
    &:link,
    &:visited {
      color: $color-primary;
      font-weight: 700;
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
