.nav {
  background-color: $color-secondary;

  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (min-width: $bp-mobile) {
    height: 80px;
    padding: 1rem 7rem;
  }

  @media only screen and (min-width: $bp-desktop) {
    background-color: transparent;
    padding: 1.5rem 7rem;
  }

  &__logo {
    align-self: flex-start;

    @media only screen and (min-width: $bp-mobile) {
      align-self: center;
    }
  }

  &__hamburger {
    font-size: 2.5rem;
    color: $color-white;

    @media only screen and (min-width: $bp-desktop) {
      display: none;
    }
  }

  &__items {
    display: flex;
    justify-content: space-around;
    width: 40%;
    @media only screen and (max-width: $bp-desktop) {
      display: none;
    }
  }

  &__item {
  }

  &__link {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 1.5rem;
      color: $color-white;
    }

    &:hover {
      color: $color-cta;
      transition: 1s;
    }
  }

  &__arrow-down {
    border: solid $color-white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 0.5rem;
  }

  &__btn {
    @media only screen and (max-width: $bp-desktop) {
      display: none;
    }
  }
}
