.nav {
  background-color: $color-secondary;

  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  @media only screen and (min-width: $bp-mobile) {
    height: 80px;
    padding: 1rem 7rem;
  }

  @media only screen and (min-width: $bp-desktop) {
    background-color: transparent;
    padding: 2rem 7rem;
  }

  &__logo {
    align-self: flex-start;

    @media only screen and (min-width: $bp-mobile) {
      align-self: center;
    }
  }

  &__hamburger {
    font-size: 2.5rem;
    color: $color-white;
    justify-self: flex-end;

    @media only screen and (min-width: $bp-desktop) {
      display: none;
    }
  }

  &__menu {
    display: none;

    @media only screen and (min-width: $bp-desktop) {
      width: 90%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__items {
    display: flex;
    justify-content: space-around;
    width: 40%;
    @media only screen and (max-width: $bp-desktop) {
      flex-direction: column;
      width: 100%;
      align-items: center;
      padding: 3rem;
    }
  }

  &__item {
    position: relative;
    margin: 0 0.2rem;
    @media only screen and (max-width: $bp-desktop) {
      padding: 2rem;
      font-size: 3rem;
    }
  }

  &__link {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 1.5rem;
      color: $color-white;

      @media only screen and (max-width: $bp-desktop) {
        font-size: 2.5rem;
        font-weight: 300;
      }
    }

    &:hover {
      color: $color-cta;
      transition: 1s;
    }
  }

  &__arrow-down {
    border: solid $color-white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 0.5rem;
  }

  &__btn {
    margin-left: 25rem;
    @media only screen and (max-width: $bp-desktop) {
      display: none;
    }
  }

  &__dropdown {
    background-color: $color-white;
    border-radius: 5px;
    padding: 1rem 2rem;
    width: 120px;

    position: absolute;
    top: 30px;
    left: 20px;

    display: none;

    z-index: 99;

    @media only screen and (max-width: $bp-desktop) {
      position: static;
      background-color: transparent;
      padding: 2rem 0;
      width: 100%;
      text-align: center;
    }
  }

  &__dropdown-item {
    padding: 0.5rem;
  }

  &__dropdown-link {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 1.2rem;
      color: $color-primary;
      transition: 1s;

      @media only screen and (max-width: $bp-desktop) {
        color: $color-white;
        font-size: 2rem;
        font-weight: 300;
        opacity: 0.9;
      }
    }

    &:hover {
      color: $color-cta;
    }
  }

  &__input {
    display: none;
  }
}

.nav__input:checked + .nav__dropdown {
  display: block;
}

.nav__ham-input:checked + .nav__menu {
  display: block;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  background-color: $color-secondary;
  width: 80%;
  height: min-content;
  border-radius: 8px;
}
