// Colors //

$color-primary: #329bfa;
$color-secondary: #2c2c2c;
$color-cta: #36ebed;
$color-white: #fff;
$color-black: #000;
$color-dark-grey: #565656;

// Fonts //

$font-primary: "Poppins", sans-serif;
