// Colors //

$color-primary: #329bfa;
$color-secondary: #2c2c2c;
$color-cta: #36ebed;
$color-white: #fff;
$color-black: #000;
$color-dark-grey: #565656;
$color-star: #f4cf67;
$color-social-media: #c7c7c7;
$gradient-2-fallback: #fcad5c;
$gradient-3-fallback: #36ef8c;
$gradient-blue: linear-gradient(90deg, $color-primary 35%, #90c9ff 100%);
$gradient-orange: linear-gradient(90deg, #fcad5c 35%, #fc9262 100%);
$gradient-green: linear-gradient(90deg, #36ef8c 35%, #8afec0 100%);
$color-card-1: #e9f4fe;
$color-card-2: #fef4f0;
$color-card-3: #e8fbf1;
$color-btn-nav: #42b3fa;

// Fonts //

$font-primary: "Poppins", sans-serif;

//Breakpoints

$bp-mobile: 37.5rem;
$bp-tablet: 56.25rem;
$bp-desktop: 75rem;
